@import url('https://fonts.googleapis.com/css?family=Comfortaa|Righteous');

body {
  background: url(https://i.imgur.com/1VXmsbE.jpg);
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1 {
  font-family: 'Righteous', cursive;
  background: white;
  margin:0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

a {
  color: red;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  text-align: center;
}

a:hover {
  color: ghostwhite;
}

li {
  list-style: none;
}

li a {
  color: blue;
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: red;
  background: blue;
  font-size: 1em;
  border-radius: 10%;
}